@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

*{
    padding: 0; margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'NanumSquare', sans-serif;
}
body{
    min-width: 1300px;

}
/* [#title] */
#title h3{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin: 80px 0 80px 0;
}

/* [#info] *//* [#info] *//* [#info] *//* [#info] */
#info2{
    border: 2px solid black;
    border-radius: 35px;
    display: flex;
    /* margin: auto; */
    margin: 0 120px 0 120px;
    padding: 50px 0 50px 0;
    align-items: center;
    
}

.profile{
    display: inline-block;
    /* border: 2px solid red; */
    /* vertical-align: middle; */
    /* position: relative; left: 60px; */
    margin-left: 100px;
}

#info_box{
    display:inline-block;
    /* border: 1px solid black; */
    /* vertical-align: middle; */
    width: fit-content;
    text-align: left;
    /* position: relative; left: 70px; */
    margin-left: 20px;

}

.name{
    /* border: 1px solid green; */
    font-weight: 900;
}

.mail{
    /* border: 1px solid slateblue; */
}

.edit{
    display: block;
    /* border: 1px solid darkgoldenrod; */
    border-radius: 30px;
    background-color: #e2e2e2;
    padding: 7px 15px 7px 15px;
    text-align: center;
    width: fit-content;
    font-size: 13px; font-weight: 600;
    margin-top: 10px; ;
}
.edit:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#membership{
    border-left: 2px solid #e2e2e2;
    padding: 20px 0 20px 40px;
    /* display: inline-block; */
    /* border: 2px solid purple; */
    text-align: right;
    margin-left: auto;
    margin-right: 100px;
}
.level{
    /* border: 2px solid green; */
    font-weight: 900;
    margin-bottom: 10px;
}
.title{
    /* border: 2px solid skyblue; */
    margin-top: 10px;

}

 /* [menu]  */ /* [menu]  */ /* [menu]  */ /* [menu]  */
 #menu{
     /* border: 2px solid red; */
     margin-top: 100px;
     display: flex;
     justify-content: center;
}

 #menu ul{
     width: fit-content;
    /* border: 2px solid green; */
    /* display: flex; */
    justify-content: center;
    text-align: center;
}
 .order, .mileage, .address, .wishlist{
     /* border: 2px solid blue; */
     padding: 40px;
     width: 100px; height: 100px;
     border-radius: 100px;
     background-color: #f3f3f3;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     margin-right: 50px; margin-left: 50px; 
    }

.order:hover, .mileage:hover,
.address:hover, .wishlist:hover{
    background-color: #dbdbdb;
}

#menu {
    font-size: 15px;
    line-height: 23px;
}
#menu .bold{
    font-weight: 900;
    font-size: 20px;
}

/* [#state] *//* [#state] *//* [#state] *//* [#state] *//* [#state] */
#state{
    display: flex;
    justify-content: center;
    /* border: 3px solid red; */
    margin-top: 100px; margin-bottom: 100px;
    font-size: 18px;
    text-align: center;

}
table{
    /* border: 1px solid black; */
    display: flex;
    border-collapse: collapse;
    margin: 0 120px 0 120px;

}
th, td{
    width: 1200px;
    border: 1px solid black;

}
th:first-child, th:last-child, td:first-child, td:last-child{
border-right: none; border-left: none;
}

.row1{
    background-color: rgb(233, 233, 233);
    font-size: 20px;
}

.row2{
}

/* .line_r{
    border-right: 1px solid black;
} */

th{
    padding: 17px 0 17px 0 ;
}
td{
    padding: 25px 0 25px 0 ;
    line-height: 25px;
}