@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

*{
    padding: 0; margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'NanumSquare', sans-serif;
}

body{
    font-family: 'NanumSquare', sans-serif;
    min-width: 1300px;
}

/* [#title] */
#title h3{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin: 80px 0 80px 0;
}

#id{
    /* border: 2px solid blue; */
    width: fit-content;
    margin: auto;
}

#pass{
    /* border: 2px solid green; */
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

#name{
    /* border: 2px solid green; */
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

#call{
    /* border: 2px solid green; */
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.text{
    font-size: 23px;
    font-weight:600;
}
.textbox{
    width: 320px; height: 35px;
    margin-top: 5px;
    border: 2px solid rgb(34, 34, 34);
    background-color: #f5f5f5;
}

#check{
    /* border: 2px solid red; */
    margin: auto;
    width: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#button{
    /* border: 2px solid green; */
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
}

#button button{
    background-color: black;
    border: 2px solid black;
    color: white;
    text-align: center;
    width: 320px;
    padding: 14px 0 14px 0;
    border-radius: 30px;
    font-size: 16px;
    }

#button button:hover{
    background-color: black;
    color: white;
    cursor:pointer;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.356);

}