@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

*{
    padding: 0; margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'NanumSquare', sans-serif;
}

body{
    min-width: 1300px;
}

/* [#title] */
#title h3{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin: 80px 0 80px 0;
}

/* [#contents] */
#contents{
    /* border: 2px solid red; */
    width: fit-content;
    margin: auto;
    margin-bottom: 80px;
    /* padding: 20px; */
}

#list1{
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    padding: 20px;
}

#list2{
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
}

#contents #img{
    /* border: 1px solid black; */
    width: 150px;
    margin-right: 20px;
}
#img img{
    width: 150px;
}

#contents #info{
    /* border: 2px solid blue; */
    width: 400px;
    margin-right: 120px;
}

#contents .eng{
    font-size: 24px;
    font-weight: 800;
}
#contents .kor{
    font-size: 18px;
}
#contents .size{
    font-size: 18px;
    font-weight: 700;
}

#contents #button{
    /* border: 2px solid green; */
    width:170px;
}

#contents #button p{
    width: fit-content;
    background-color: #B5252E;
    padding: 15px 35px 15px 35px;
    border-radius: 20px;    
}
#contents #button p:hover{
    background-color: #88151d;
}

#contents .big{
    color: white;
    font-size: 21px;
}
#contents .small{
    color: white;
    font-size: 15px;
    font-weight: 600;
}